@use "./variables" as *;

footer {
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  a {
    text-decoration: none;
    font-family: CircularStdMedium;
    color: $font-color-primary;
    transition: 0.15s all ease-in-out;
    &:hover {
      color: $primary-color;
    }
  }
  .copyright {
    display: flex;
    align-items: center;
    p {
      margin: 0;
      margin-left: 0.2rem;
    }
  }
  & *:not(svg) {
    margin-bottom: 0.5rem;
  }
}
