header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    form {
        label {
            display: none;
        }
    }

    .search-icon-container {
        padding: .5rem;
        border: solid blue;
    }

}

