
@use 'variables' as *;

.hero-container{
    width: 100vw;
    height: 30vh;
    // display: flex;
    transform: translateX(-1rem);
    position: relative;
    border: 1px solid blue;


    img {
        position: absolute;
        width: auto;
        height: auto;
        mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0.986) 10%,rgba(255, 255, 255, 0.007)   90%);
    }



}

.hero-info-container{
    width: 100%;
    position: absolute;
    top: 6rem;
    left: 1rem;
    right: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    & * {
        // this gives each child of the info container:
        // margin reset, then margin down by an equal amount of rem
        margin: 0;
        margin-bottom: 0.4rem;
    }
    .hero-title {
        width: 100%;
        font-size: 2.3rem;
        grid-column: 1/5;
        grid-row: 1;
        margin: 0;
    }
    .hero-category {
        margin: 0;
        padding: 0;
        font-size: 1rem;
        color: $font-color-secondary;
  
        opacity: .3;
        grid-column: 1/4;
        grid-row: 2;
    }
    .hero-overview {
        display: none;
    }
}

