@use './variables' as *;
@use 'mixins' as *;


div.movie-container {
  margin: 0.2rem;
  position: relative;
  width: 165px;
  height: 250px;
  @include mxMax(370px){
    width: 150px;
  }
  @include mxMax(340px){
    width: 200px;
    height: auto;
    text-align: center;
  }
  img.movie-card {
    border-radius: 10px;
    // padding: 0.5rem;
  }

  div.hover-card {
    padding: 0.5rem;
    position: absolute;
    background-color: rgba($color: #000000, $alpha: 0.5);
    height: 100%;
    width: 100%;
    filter: opacity(0);
    transition: all 0.3s ease-in-out;
    h3 {
      margin: 0;
      font-size: 1rem;
    }
  }
  transition: all .1s linear;
  
  &:hover {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    &:hover {
    div.hover-card {
      filter: opacity(1);
    }
  }

}

}

div.movie-container.fadein {
  opacity: 0;
  animation: 1s ease-in 1s forwards fadeIn;
}

div.movie-container.loading {
  width: 165px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}



