@use 'variables' as *;


.movies-container {
    h2 {
    transition: all .3s linear;
    }
    &:hover {
        h2 {
            color: $primary-color;
        }
    }
}


.slick-next{
    width: 5rem;
    height: 5rem;
    color: white;
}
.slick-prev{
    font-size: 10rem;
    color: white;
}