@use "variables" as *;
@use "./mixins" as *;

.movie-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 0.5rem;
  .movie-poster {
    grid-column: 1 / 6;
    position: relative;
    display: grid;
    margin: 0 -1rem 1rem -1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px;
    overflow: hidden;
    .backdrop {
      grid-column: 1/7;
      grid-row: 1;
      filter: brightness(50%) blur(1px);
    }
    .poster {
      grid-row: 1;
      grid-column: 1/7;
      justify-self: center;
      object-fit: cover;
      height: 200px;
      z-index: 2;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }
  .movie-title {
    grid-row: 2;
    grid-column: 1 / 5;
    margin: 0;
  }

  .release-and-runtime {
    grid-row: 3;
    grid-column: 1/5;
    display: flex;
    .release-date,
    .movie-runtime {
      margin: 0;
    }
    .movie-runtime {
      margin-left: 0.5rem;
    }
  }

  .button-container {
    grid-row: 4;
    grid-column: 1;
    display: flex;
    .favourite {
      margin-left: 0.5rem;
    }
  }

  .youtube-video {
    display: none;
  }

  .movie-genres {
    margin: 0;
    grid-row: 5/6;
    grid-column: 1/6;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    li {
      // width: 110px;
      display: grid;
      place-items: center;
      list-style-type: none;
      border: 3px solid white;
      border-radius: 500px;
      padding: 0.2rem 1rem;
      margin: 0.5rem 0.5rem;
    }
  }
  .plot-summary {
    grid-row: 6;
    grid-column: 1/5;
  }
  @include mqMin(63.75rem) {
    .play-trailer {
      display: none;
    }
    .youtube-video {
      display: block;
      grid-column: 3/7;
      grid-row: 2 / 7;
      justify-self: end;
    }
    .plot-summary {
      grid-row: 6/7;
      grid-column: 1/3;
    }
  }
}
