@use './variables' as *;

// .movie-card {
//     padding: 1rem;
//     border-radius: 9%;
// }

div.movie-container {
    margin: 0.5rem;
}

img.movie-card {
    width: 250px;
    height: auto;
    border-radius: 10px;
    // padding: 0.5rem;
}