@use 'variables' as *;

nav {
  position: absolute;
  a {
    text-decoration: none;
  }
  ul {
    padding: 0;
  }
  .nav-component {
    // plus icon, home, favourites, and about
    border-radius: 50%;
    // Setting small size to be increased on active class
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $background-color-secondary;
    background-blend-mode: multiply;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
    list-style-type: none;
    outline: 2px solid rgb(255, 255, 255);
    color: $font-color-primary;
    position: fixed;
    bottom: 4.5rem;
    right: 2.9rem;
    z-index: 9001;
    transition: all 0.3s ease-in-out;
    transform: rotate(0deg);
    :hover {
      cursor: pointer;
    }
  }

  // Hamburger Settings

  .hamburger-menu {
    height: 50px;
    width: 50px;
    position: relative;
    display: grid;
    place-items: center;
    .hamburger-line {
      width: 30px;
      height: 5px;
      background-color: #fff;
      display: block;
      position: relative;
      transition: all 0.3s ease-in-out;
    }
    .hamburger-line::after {
      content: "";
      display: block;
      position: absolute;
      top: 8px;
      width: 30px;
      height: 5px;
      background-color: #fff;
      transition: all 0.3s ease-in-out;
    }
    .hamburger-line::before {
      content: "";
      display: block;
      position: absolute;
      top: -8px;
      width: 30px;
      height: 5px;
      background-color: #fff;
      transition: all 0.3s ease-in-out;
    }
  }
  &.active {
    .nav-component:not(li) {
      transform: rotate(180deg);
    }
    .hamburger-menu {
      .hamburger-line {
        transform: rotate(45deg);
        margin-top: -2px;
        &::after {
          top: 0;
        }
        &::before {
          top: 0;
          transform: rotate(-90deg);
        }
      }
    }
  }

  .home-link,
  .favourites-link,
  .about-link {
    opacity: 0;
    transform: rotate(540deg);
    filter: blur(5px);
    height: 0px;
    width: 0px;
  }
} // end of nav
.active {
  .nav-component {
    // increase the size of nav components
  }

  .home-link,
  .favourites-link,
  .about-link {
    width: 40px;
    height: 40px;
    opacity: 1;
    filter: blur(0px);
    transform: rotate(0deg);
  }

  .home-link {
    bottom: 8.2rem;
    right: 3.5rem;
  }
  .favourites-link {
    right: 6.2rem;
    bottom: 6.4rem;
  }
  .about-link {
    bottom: 3.2rem;
    right: 6.2rem;
  }
}
