@use 'variables' as *;

//This component is nested inside header

.searchBox {
    z-index: 9999;
    position: absolute;
    top: 16.75333333px;
    right: 0;
    // transform: translate(-50%, 50%);
    background: $background-color-secondary;
    outline: 1.5px solid white;
    height: 40px;
    border-radius: 40px;
    padding: 0px;
  
    &:hover> {
      .searchInput {
        z-index: 9999;
        width: 200px;
        padding: 0 10px;
      }
  
      .searchButton {
        z-index: 9999;
        background: $font-color-secondary;
        color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
    }
  }
  
  .searchButton {
      z-index: 9999;
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: $background-color-secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
  }
  
  .searchInput {
      z-index: 9999;
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
  }

