@use 'variables' as *;

@font-face{
    font-family: CircularStdBold;
    src: url('./fonts/Circular/CircularStd-Bold.otf') format("opentype");
    font-weight: 700;
}
@font-face{
    font-family: CircularStdMedium;
    src: url('./fonts/Circular/CircularStd-Medium.otf') format("opentype");
    font-weight: 500;
}
@font-face{
    font-family: CircularStdLight;
    src: url('./fonts/Circular/CircularStd-Light.otf') format("opentype");
    font-weight: 300;
}

h1, h2 , h3, h4 {
    font-family: CircularStdBold;
}

h2 {
    font-size: 1.6rem;
}


nav {
    font-family: CircularStdBold;
    font-weight: 700;
    font-size: 1.2rem;
}

