@use "./normalize";
@use "./slick";
@use "./slick-theme";
@use "./components";
@use "./hamburger";
@use "./header";
@use "./mixins";
@use "./_logo.scss";
@use "./movie-cards";
@use "./_movie-page";
@use "./_about-page";
@use "./typography";
@use "./variables";
@use "./wrapper";
@use "./body";
@use "./nav";
@use "./hero-card";
@use "./more-info";
@use "./play-trailer";
@use "./search-movies";
@use "./search-page";
@use "./search-component";
@use "./nic-cage-page";
@use "./movie-container";
@use "./favourites-page.scss";
@use "./loader.scss";

.site-limiter {
  max-width: 1920px;
  margin: auto;
}

.wrapper {
  height: 100%;
  width: auto;
  padding: 0 1rem;
}

// target every main element that does not have a class of home-page
// to push content down below header

main:not(.home-page) {
  margin-top: 5rem;
}
